footer {
    display: flex;
    justify-content: center;

    width: 1140px;
    border-top: 1px solid #CECFCF;
    margin: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-top: 40px;
    text-align: center;
}

.footer-content>* {
    font-size: 16px;
    font-weight: 300;
}