<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/normalize.css">
    <link rel="stylesheet" href="../../static/styles/general.css">
    <link rel="stylesheet" href="../../static/styles/fragments/footer.css">
    <title>Document</title>
</head>

<body>
    <footer>
        <div class="footer-content">
            <div>© Lens Space – Find your creative space. Created by Figma</div>
            <div>Nikita Liashenko. 2023.</div>
        </div>
    </footer>
</body>

</html>