<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/normalize.css">
    <link rel="stylesheet" href="../../static/styles/general.css">
    <link rel="stylesheet" href="../../static/styles/fragments/header.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header-content">
            <a href="#" class="logo-container">
                <img src="../../static/images/logo.svg" alt="logo">
            </a>
            <div>
                <a href="#" class="account">
                    John Doe
                </a>
            </div>
        </div>
    </header>
</body>

</html>