<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/general/normalize.css">
    <link rel="stylesheet" href="../static/styles/general/general.css">
    <link rel="stylesheet" href="../static/styles/general/navbar.css">
    <link rel="stylesheet" href="../static/styles/catalog/filter.css">
    <link rel="stylesheet" href="../static/styles/catalog/catalog.css">
    <link rel="stylesheet" href="../static/styles/general/studio-general.css">
    <title>Catalog</title>
</head>

<body>
    <div class="content">
        <div class="filter-content">
            <details class="price-filter" open>
                <summary>Price</summary>
                <div class="price-parameters">
                    <div class="price-parameter">
                        <span>Від</span>
                        <input class="price-value" type="number" name="from-price" placeholder="0">
                    </div>
                    <div class="price-parameter">
                        <span>До</span>
                        <input class="price-value" type="number" name="to-price" placeholder="4444">
                    </div>
                </div>
            </details>
            <span class="spliter"></span>
            <details class="check-filter" open>
                <summary>Studio style</summary>
                <div class="check-parameters">
                    <label><input type="checkbox">Vintage</label>
                    <label><input type="checkbox">Imitation of the street</label>
                    <label><input type="checkbox">Kitchen</label>
                    <label><input type="checkbox">Loft style</label>
                    <label><input type="checkbox">Neutral</label>
                    <label><input type="checkbox">Merry Christmas</label>
                    <label><input type="checkbox">Romance</label>
                    <label><input type="checkbox">Universal</label>
                </div>
            </details>
        </div>
        <div class="main-content">
            <div class="nav-bar">
                <a href="#">Start page</a>
                <a href="#">Catalog</a>
            </div>
            <div class="search-bar">
                <input class="search" type="search" placeholder="Search">
            </div>
            <div class="title-bar">
                <div class="catalog-title">We found <span class="studio-count">18</span> photostudios for you</div>
                <select class="catalog-sort" name="sort">
                    <option value="popularity">Popularity</option>
                    <option value="some">Some</option>
                    <option value="some">Some</option>
                </select>
            </div>
            <div class="catalog">
                <div class="studio">
                    <a href="#" class="img-container">
                        <img src="../static/images/studio.png" alt="studio">
                    </a>
                    <div class="studio-about">
                        <div class="studio-title">
                            <div class="studio-info">
                                <div class="studio-greeting">
                                    <div class="studio-name">Capsula</div>
                                    <div class="studio-rating">4.8</div>
                                    <div class="studio-reviews">(3 відгуки)</div>
                                </div>
                                <div class="studio-price">
                                    <span class="studio-price-value">800 UAH</span>
                                    <span class="studio-price-per">/ hour</span>
                                </div>
                            </div>
                            <div class="studio-address">вул. Єлизавети Чавдар 12, Київ</div>
                        </div>
                        <div class="studio-time">ПН-НД: 09:00 - 21:00</div>
                        <div class="studio-tags">
                            <div class="studio-tag">Cyclorama</div>
                            <div class="studio-tag">Additional light</div>
                            <div class="studio-tag">Color backgrounds</div>
                            <div class="studio-tag">Neutral</div>
                            <div class="studio-tag">Universal</div>
                        </div>
                        <div class="studio-learn-more">
                            <a href="#" class="book-now">Book now</a>
                            <a href="#" class="more-detail">More detail</a>
                        </div>
                    </div>
                </div>
                <div class="studio">
                    <a href="#" class="img-container">
                        <img src="../static/images/studio.png" alt="studio">
                    </a>
                    <div class="studio-about">
                        <div class="studio-title">
                            <div class="studio-info">
                                <div class="studio-greeting">
                                    <div class="studio-name">Capsula</div>
                                    <div class="studio-rating">4.8</div>
                                    <div class="studio-reviews">(3 відгуки)</div>
                                </div>
                                <div class="studio-price">
                                    <span class="studio-price-value">800 UAH</span>
                                    <span class="studio-price-per">/ hour</span>
                                </div>
                            </div>
                            <div class="studio-address">вул. Єлизавети Чавдар 12, Київ</div>
                        </div>
                        <div class="studio-time">ПН-НД: 09:00 - 21:00</div>
                        <div class="studio-tags">
                            <div class="studio-tag">Cyclorama</div>
                            <div class="studio-tag">Additional light</div>
                            <div class="studio-tag">Color backgrounds</div>
                            <div class="studio-tag">Neutral</div>
                            <div class="studio-tag">Universal</div>
                        </div>
                        <div class="studio-learn-more">
                            <a href="#" class="book-now">Book now</a>
                            <a href="#" class="more-detail">More detail</a>
                        </div>
                    </div>
                </div>
                <div class="studio">
                    <a href="#" class="img-container">
                        <img src="../static/images/studio.png" alt="studio">
                    </a>
                    <div class="studio-about">
                        <div class="studio-title">
                            <div class="studio-info">
                                <div class="studio-greeting">
                                    <div class="studio-name">Capsula</div>
                                    <div class="studio-rating">4.8</div>
                                    <div class="studio-reviews">(3 відгуки)</div>
                                </div>
                                <div class="studio-price">
                                    <span class="studio-price-value">800 UAH</span>
                                    <span class="studio-price-per">/ hour</span>
                                </div>
                            </div>
                            <div class="studio-address">вул. Єлизавети Чавдар 12, Київ</div>
                        </div>
                        <div class="studio-time">ПН-НД: 09:00 - 21:00</div>
                        <div class="studio-tags">
                            <div class="studio-tag">Cyclorama</div>
                            <div class="studio-tag">Additional light</div>
                            <div class="studio-tag">Color backgrounds</div>
                            <div class="studio-tag">Neutral</div>
                            <div class="studio-tag">Universal</div>
                        </div>
                        <div class="studio-learn-more">
                            <a href="#" class="book-now">Book now</a>
                            <a href="#" class="more-detail">More detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>