<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/general/normalize.css">
    <link rel="stylesheet" href="../static/styles/general/general.css">
    <link rel="stylesheet" href="../static/styles/general/navbar.css">
    <link rel="stylesheet" href="../static/styles/studio/studio.css">
    <title>Studio</title>
</head>

<body>
    <div class="content">
        <div class="studio-general">
            <div class="studio-img-slider">
                <div class="slider-img"></div>
                <div class="slider-img"></div>
                <div class="slider-img"></div>
                <div class="slider-img"></div>
                <div class="slider-img"></div>
                <div class="slider-img"></div>
                <div class="slider-img"></div>
            </div>
            <div class="studio-img"></div>
            <div class="studio-general-content">
                <div class="nav-bar">
                    <a href="#">Start page</a>
                    <a href="#">Catalog</a>
                    <a href="#">Photo studio “Capsula”</a>
                </div>
                <div class="studio-about">
                    <div class="studio-title">
                        <div class="studio-greeting">
                            <div class="studio-name">Capsula</div>
                            <div class="studio-ratings">
                                <div class="studio-rating">4.8</div>
                                <div class="studio-reviews">(3 відгуки)</div>
                            </div>
                        </div>
                        <div class="studio-address">вул. Єлизавети Чавдар 12, Київ</div>
                    </div>
                    <div class="studio-time">ПН-НД: 09:00 - 21:00</div>
                    <div class="studio-tags">
                        <div class="studio-tag">Cyclorama</div>
                        <div class="studio-tag">Additional light</div>
                        <div class="studio-tag">Color backgrounds</div>
                        <div class="studio-tag">Neutral</div>
                        <div class="studio-tag">Universal</div>
                    </div>
                    <a href="#" class="book-now">Book now</a>
                </div>
            </div>
        </div>
        <div class="studio-navigation">
            <div class="studio-nav-fragment selected">Description & Contacts</div>
            <div class="studio-nav-fragment">Show on map</div>
            <div class="studio-nav-fragment">Reviews</div>
        </div>
        <div class="studio-more-about">
            <div class="studio-section">
                <div>
                    White cyclorama 7*6 meters. All the walls are white, which gives many opportunities to work with
                    reflected light. There is also bright daylight in the hall. The second part of the hall has a
                    concrete
                    floor.The only decoration is a 3.5 meters long and 2.5 meters high stainless steel wavy silver
                    screen,
                    which will be a great decoration for your shooting. There is also a stylish leather chair in the
                    hall. For additional furniture/props, contact our administrators, you can view some of the props on
                    our
                    website.

                    – The area is 70 square meters.
                    – The ceiling height is 4.5 m.– Cyclorama, 6m wide– Distance - 6 m–
                    Natural light - four large windows.– Blackout blinds.– Rail for things.– Air conditioning.– Wi-Fi.

                    *For each person outside the limit, an additional payment of 150 UAH
                </div>
                <img src="../static/images/map.png" alt="map">
                <div class="review-slider">
                    <div class="review">
                        <div class="review-title">
                            <div class="review-info">
                                <div>
                                    <img src="../static/images/account.svg" alt="account">
                                </div>
                                <div class="review-meta">
                                    <div class="review-user">Jane</div>
                                    <div class="review-date">23 FEB 2022, 05:01</div>
                                </div>
                            </div>
                            <div class="studio-rating">4</div>
                        </div>
                        <div class="review-content">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id odio velit reprehenderit
                            facere, asperiores eveniet eos libero dolores commodi, fugit modi sint excepturi deleniti
                            necessitatibus saepe veritatis repellat suscipit nesciunt.
                        </div>
                    </div>
                    <div class="review">
                        <div class="review-title">
                            <div class="review-info">
                                <div>
                                    <img src="../static/images/account.svg" alt="account">
                                </div>
                                <div class="review-meta">
                                    <div class="review-user">Jane</div>
                                    <div class="review-date">23 FEB 2022, 05:01</div>
                                </div>
                            </div>
                            <div class="studio-rating">4</div>
                        </div>
                        <div class="review-content">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id odio velit reprehenderit
                            facere, asperiores eveniet eos libero dolores commodi, fugit modi sint excepturi deleniti
                            necessitatibus saepe veritatis repellat suscipit nesciunt.
                        </div>
                    </div>
                    <div class="review">
                        <div class="review-title">
                            <div class="review-info">
                                <div>
                                    <img src="../static/images/account.svg" alt="account">
                                </div>
                                <div class="review-meta">
                                    <div class="review-user">Jane</div>
                                    <div class="review-date">23 FEB 2022, 05:01</div>
                                </div>
                            </div>
                            <div class="studio-rating">4</div>
                        </div>
                        <div class="review-content">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id odio velit reprehenderit
                            facere, asperiores eveniet eos libero dolores commodi, fugit modi sint excepturi deleniti
                            necessitatibus saepe veritatis repellat suscipit nesciunt.
                        </div>
                    </div>
                    <div class="review">
                        <div class="review-title">
                            <div class="review-info">
                                <div>
                                    <img src="../static/images/account.svg" alt="account">
                                </div>
                                <div class="review-meta">
                                    <div class="review-user">Jane</div>
                                    <div class="review-date">23 FEB 2022, 05:01</div>
                                </div>
                            </div>
                            <div class="studio-rating">4</div>
                        </div>
                        <div class="review-content">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id odio velit reprehenderit
                            facere, asperiores eveniet eos libero dolores commodi, fugit modi sint excepturi deleniti
                            necessitatibus saepe veritatis repellat suscipit nesciunt.
                        </div>
                    </div>
                    <div class="review">
                        <div class="review-title">
                            <div class="review-info">
                                <div>
                                    <img src="../static/images/account.svg" alt="account">
                                </div>
                                <div class="review-meta">
                                    <div class="review-user">Jane</div>
                                    <div class="review-date">23 FEB 2022, 05:01</div>
                                </div>
                            </div>
                            <div class="studio-rating">4</div>
                        </div>
                        <div class="review-content">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id odio velit reprehenderit
                            facere, asperiores eveniet eos libero dolores commodi, fugit modi sint excepturi deleniti
                            necessitatibus saepe veritatis repellat suscipit nesciunt.
                        </div>
                    </div>
                    <div class="review">
                        <div class="review-title">
                            <div class="review-info">
                                <div>
                                    <img src="../static/images/account.svg" alt="account">
                                </div>
                                <div class="review-meta">
                                    <div class="review-user">Jane</div>
                                    <div class="review-date">23 FEB 2022, 05:01</div>
                                </div>
                            </div>
                            <div class="studio-rating">4</div>
                        </div>
                        <div class="review-content">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id odio velit reprehenderit
                            facere, asperiores eveniet eos libero dolores commodi, fugit modi sint excepturi deleniti
                            necessitatibus saepe veritatis repellat suscipit nesciunt.
                        </div>
                    </div>
                    <div class="review">
                        <div class="review-title">
                            <div class="review-info">
                                <div>
                                    <img src="../static/images/account.svg" alt="account">
                                </div>
                                <div class="review-meta">
                                    <div class="review-user">Jane</div>
                                    <div class="review-date">23 FEB 2022, 05:01</div>
                                </div>
                            </div>
                            <div class="studio-rating">4</div>
                        </div>
                        <div class="review-content">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id odio velit reprehenderit
                            facere, asperiores eveniet eos libero dolores commodi, fugit modi sint excepturi deleniti
                            necessitatibus saepe veritatis repellat suscipit nesciunt.
                        </div>
                    </div>
                    <div class="review">
                        <div class="review-title">
                            <div class="review-info">
                                <div>
                                    <img src="../static/images/account.svg" alt="account">
                                </div>
                                <div class="review-meta">
                                    <div class="review-user">Jane</div>
                                    <div class="review-date">23 FEB 2022, 05:01</div>
                                </div>
                            </div>
                            <div class="studio-rating">4</div>
                        </div>
                        <div class="review-content">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id odio velit reprehenderit
                            facere, asperiores eveniet eos libero dolores commodi, fugit modi sint excepturi deleniti
                            necessitatibus saepe veritatis repellat suscipit nesciunt.
                        </div>
                    </div>
                    <div class="review">
                        <div class="review-title">
                            <div class="review-info">
                                <div>
                                    <img src="../static/images/account.svg" alt="account">
                                </div>
                                <div class="review-meta">
                                    <div class="review-user">Jane</div>
                                    <div class="review-date">23 FEB 2022, 05:01</div>
                                </div>
                            </div>
                            <div class="studio-rating">4</div>
                        </div>
                        <div class="review-content">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id odio velit reprehenderit
                            facere, asperiores eveniet eos libero dolores commodi, fugit modi sint excepturi deleniti
                            necessitatibus saepe veritatis repellat suscipit nesciunt.
                        </div>
                    </div>
                    <div class="review">
                        <div class="review-title">
                            <div class="review-info">
                                <div>
                                    <img src="../static/images/account.svg" alt="account">
                                </div>
                                <div class="review-meta">
                                    <div class="review-user">Jane</div>
                                    <div class="review-date">23 FEB 2022, 05:01</div>
                                </div>
                            </div>
                            <div class="studio-rating">4</div>
                        </div>
                        <div class="review-content">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id odio velit reprehenderit
                            facere, asperiores eveniet eos libero dolores commodi, fugit modi sint excepturi deleniti
                            necessitatibus saepe veritatis repellat suscipit nesciunt.
                        </div>
                    </div>
                    <div class="review">
                        <div class="review-title">
                            <div class="review-info">
                                <div>
                                    <img src="../static/images/account.svg" alt="account">
                                </div>
                                <div class="review-meta">
                                    <div class="review-user">Jane</div>
                                    <div class="review-date">23 FEB 2022, 05:01</div>
                                </div>
                            </div>
                            <div class="studio-rating">4</div>
                        </div>
                        <div class="review-content">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id odio velit reprehenderit
                            facere, asperiores eveniet eos libero dolores commodi, fugit modi sint excepturi deleniti
                            necessitatibus saepe veritatis repellat suscipit nesciunt.
                        </div>
                    </div>
                </div>
            </div>
            <div class="studio-card">
                <div class="studio-card-title">
                    <div class="studio-card-price">
                        <span class="studio-card-price-value">800 UAH</span>
                        <span class="studio-card-per">/ hour</span>
                    </div>
                    <div class="studio-people">max: 5 people</div>
                </div>
                <div class="studio-time">ПН-НД: 09:00 - 21:00</div>
                <div class="studio-tags">
                    <div class="studio-tag">Cyclorama</div>
                    <div class="studio-tag">Additional light</div>
                    <div class="studio-tag">Color backgrounds</div>
                    <div class="studio-tag">Neutral</div>
                    <div class="studio-tag">Universal</div>
                </div>
                <span class="spliter"></span>
                <div class="manager-contact">
                    <div class="manager-contact-title">Manager contacts</div>
                    <a href="tel:38(068)666-66-66" class="manager-contact-value">+38(068)666-66-66</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>